In [164]:
import pandas as pd
import os

In [165]:

train_path = "/media/youssef/media/up/graph_time_series/dataset/OmniAnomaly/ServerMachineDataset/train/"
test_path = "/media/youssef/media/up/graph_time_series/dataset/OmniAnomaly/ServerMachineDataset/test/"
all_files = os.listdir(train_path)
print(all_files)

['machine-1-1.txt', 'machine-1-2.txt', 'machine-1-3.txt', 'machine-1-4.txt', 'machine-1-5.txt', 'machine-1-6.txt', 'machine-1-7.txt', 'machine-1-8.txt', 'machine-2-1.txt', 'machine-2-2.txt', 'machine-2-3.txt', 'machine-2-4.txt', 'machine-2-5.txt', 'machine-2-6.txt', 'machine-2-7.txt', 'machine-2-8.txt', 'machine-2-9.txt', 'machine-3-1.txt', 'machine-3-10.txt', 'machine-3-11.txt', 'machine-3-2.txt', 'machine-3-3.txt', 'machine-3-4.txt', 'machine-3-5.txt', 'machine-3-6.txt', 'machine-3-7.txt', 'machine-3-8.txt', 'machine-3-9.txt']

In [176]:
output_path = "/media/youssef/media/up/graph_time_series/dataset/OmniAnomaly/ServerMachineDataset/SMD/train/"
# file_name = "list.txt"
# full_path = os.path.join(output_path,file_name)
# with open(full_path,'w') as file:
#     file.writelines(test_files)

In [177]:
for file in all_files:
    file_path = os.path.join(train_path,file)
    df = pd.read_csv(file_path, sep=",",header=None)
    no_ = len(df.columns)
    cols_names = [ "x-" + str(i) for i in range((no_))  ]
    df.columns = cols_names
    #df = df.reset_index(level=0)
    #df.insert(0, "timestamp", range(len(df)))
    final_output_path = os.path.join(output_path,file.replace("txt","csv"))
    df.to_csv(final_output_path)

In [191]:
input_file_path = "/media/youssef/media/up/graph_time_series/dataset/OmniAnomaly/ServerMachineDataset/test_label/machine-1-1.txt"

with open(input_file_path,'r') as file:
    lines = file.readlines()
    
lines = [int(x) for x in lines]



output_file_path = "/media/youssef/media/up/graph_time_series/dataset/OmniAnomaly/ServerMachineDataset/SMD/test.csv"

df = pd.read_csv(output_file_path,index_col=False)

df.head()
df["attack"] = lines
#df.to_csv(output_file_path,index_label=False)
#df = df.reset_index(level=0)
df = df.iloc[:,1:]
df.head()
df.to_csv(output_file_path)

In [131]:
df_test[0].head()

,x-0,x-1,x-2,x-3,x-4,x-5,x-6,x-7,x-8,x-9,...,x-28,x-29,x-30,x-31,x-32,x-33,x-34,x-35,x-36,x-37
0,0.043011,0.048729,0.033445,0.025552,0.0,0.915385,0.344633,0.0,0.019160,0.001722,...,0.0,0.004298,0.030041,0.028821,0.0,0.000045,0.035763,0.035833,0.0,0.0
1,0.043011,0.034958,0.032330,0.025552,0.0,0.915385,0.344633,0.0,0.020011,0.000122,...,0.0,0.004298,0.026248,0.021101,0.0,0.000045,0.033012,0.033082,0.0,0.0
2,0.032258,0.028602,0.030100,0.024390,0.0,0.912821,0.342750,0.0,0.021289,0.000000,...,0.0,0.004298,0.030169,0.025733,0.0,0.000022,0.035112,0.035182,0.0,0.0
3,0.032258,0.019068,0.026756,0.023229,0.0,0.912821,0.342750,0.0,0.018734,0.000000,...,0.0,0.004298,0.027240,0.022645,0.0,0.000034,0.033447,0.033517,0.0,0.0
4,0.043011,0.007415,0.021182,0.022067,0.0,0.917949,0.343691,0.0,0.019160,0.000000,...,0.0,0.004298,0.030217,0.022645,0.0,0.000034,0.034171,0.034241,0.0,0.0

In [196]:
cols_names = [ "x-" + str(i) for i in range((no_))  ]
cols_names = [x + "\n" for x in cols_names]

In [197]:
output_path = "/media/youssef/media/up/graph_time_series/dataset/OmniAnomaly/ServerMachineDataset/SMD/GDN1"
file_name = "list.txt"
full_path = os.path.join(output_path,file_name)
with open(full_path,'w') as file:
    file.writelines(cols_names)